<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
  <head>
    <title>The purple-ui-kit Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!---start-webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!---//End-webfonts--->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!----//webfonts---->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--graph-->
    <link rel="stylesheet" href="css/application.css">
    <!--//graph-->
  </head>
  <body>
    <!---start-wrap--->
    <div class="wrap">
      <!---start-content---->
      <div class="content" >
          <div class="portfolio-weight">
            <div class="portfolio-weight-head">
              <div class="portfolio-weight-people">
                <span>  </span>
              </div>
              <h1>RapHub</h1><i>Down Beats</i>
            </div>
          
          </div>
          <div class="clear"> </div>
          <!---//End-portfolio-weight---->
          <!---start-userlogin---->
          <div class="userlogin">
            <form>
              <div class="form-head">
                <div>
                  <span class="user-icon">
                    
                  </span>
                  <input type="text" placeholder="Username" required />
                </div>
                <div>
                  <span class="lock-icon">
                    
                  </span>
                  <input type="text" placeholder="Password" required />
                </div>
              </div>
              <div class="form-bottom">
                <div>
                  <span> </span>
                  <input type="submit" value="Login" />
                </div>
              </div>
            </form>
          </div>
          <!---//End-userlogin---->
          <!--- start-elements---->
          <div class="elements">
            <div class="elements-left">
              <div class="element-btns">
                <input class="normalbtn" type="button" value="Normal" />
                <input class="hoverbtn" type="button" value="Hover" />
              </div>
              <div class="switech-grid">
                <div class="switch demo3">
                  <input type="checkbox" checked="">
                  <i>keep me logged in</i>
                </div>
               
          </div>
            
<table width="100%"  border="0">
  <tr>
    <td colspan="2" style="background-color:#CC99FF;">
      <h1>Welcome to RapHub</h1>
      <p>TOP RATED MUSIC NOW</p>
    </td>
  </tr>
  <tr valign="top">
    <td style="background-color:#FFCCFF;
                  width:100px;text-align:top;">
      <b>Rappers News</b><br />
      
<li> <h6><i>Lil Wayne & Drake Announce ‘Drake Vs. Lil Wayne’ Tour</i></h6></li>
<li> <h6><i>Jay Z’s Alleged Mistress Speaks On Cheating Scandal</i></h6></li>
<li> <h6><i>50 Cent's 1st Week Sales Numbers For 'Animal Ambition</i></h6><br></li>
<br />
    </td>
    <td style="background-color:#eeeeee;height:200px;
                  width:300px;text-align:top;">
        Technical and Managerial Tutorials
    </td>
  </tr>
  <tr>
    <td colspan="2" style="background-color:#CC99FF;">
        <center>
      Copyright © 2014 RapHub.com
        </center>
    </td>
  </tr>
</table>





            </div>
            <div class="clear"> </div>
          <div class="portfolio-weight-bottom">
              
                <li style ="float:right; list-style-type:none">Twitter     <a href="#">2,300<span>Followers</span></a></li>
                <br>
                <li style ="float:right; list-style-type:none">facebook     <a href="#">834<span>Following</span></a></li>

                <div class="clear"> 
            </div>
              
            </div>
    