<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
  <head>
    <title>The purple-ui-kit Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!---start-webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!---//End-webfonts--->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!----//webfonts---->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--graph-->
    <link rel="stylesheet" href="css/application.css">
    <!--//graph-->
  </head>
  <body>
    <!---start-wrap--->
    <div class="wrap">
      <!---start-content---->
      <div class="content" >
          <div class="portfolio-weight">
            <div class="portfolio-weight-head">
              <div class="portfolio-weight-people">
                <span>  </span>
              </div>
              <h3><b>Dare them If U Can !!!</b></h3><i>Down Beats</i>
            </div>
          
          </div>
         
<table width="100%"  border="10">
  <tr>
    <td colspan="2" style="background-color:#CC99FF;" >
      <div style="float:right">
      <h1>Welcome to RapHub</h1>
      <p>TOP RATED MUSIC NOW</p>
      </div>
    </td>
  </tr>
  <tr valign="top">
    <td style="background-color:#FFCCFF;
                  width:100px;text-align:top;">
      <b>Rappers News</b><br />
      
<li> <h6><i>Lil Wayne & Drake Announce ‘Drake Vs. Lil Wayne’ Tour</i></h6></li>
<li> <h6><i>Jay Z’s Alleged Mistress Speaks On Cheating Scandal</i></h6></li>
<li> <h6><i>50 Cent's 1st Week Sales Numbers For 'Animal Ambition</i></h6></li>
<li> <h6><i>Eminem First Artist With Two Digital Diamond Awards</i></h6></li>
<li> <h6><i>Rick Ross, Lil Jon Appearing On T.I.'s '</i></h6></li> 
<br />
    </td>
    <td style="background-color:#eeeeee;height:200px;
                  width:300px;text-align:top;">
        On behalf of myself and my entire team, I would like to take this time to thank you for visiting our personal homepage at www.raphub.com.

Today marks the last day  of the Boot Camp and our website is first released to the public. It's been a long and perilous road, but it continues to be an incredibly inspiring experience for Us.

From this webpage, We invite you to learn, read, and discover more about the extraordinary life Using Rubby on Rails.
    </td>
  </tr>
  <tr>
    <td colspan="2" style="background-color:#CC99FF;">
        <center>
      Copyright © 2014 RapHub.com
        </center>
    </td>
  </tr>
</table>





            </div>
            <div class="clear"> </div>
          <div class="portfolio-weight-bottom">
              
                <li style ="float:right; list-style-type:none">Twitter     <a href="#">2,300<span>Followers</span></a></li>
                <br>
                <li style ="float:right; list-style-type:none">facebook     <a href="#">834<span>Following</span></a></li>

                <div class="clear"> 
            </div>
              
            </div>
    